.error {
      color: red;
      font-size: 1.1rem;
}

.background {
      background-image: url('https://static.vecteezy.com/system/resources/previews/003/527/366/non_2x/green-city-park-with-buildings-background-free-vector.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -10;
      opacity: 0.5;
      position: fixed;
      height: 100%;
      width: 100%;
}

@media only screen and (max-width:300px) {
      .error {
            font-size: 0.9rem;
      }
}