.hover {
      border-radius: 5px;
}

.hover:hover {
      background-color: #c8c8c8;
}

.hover:active {
      background-color: #969696;
}

.activeTab {
      border-bottom: 5px solid #0083FD;
}

.activeTab>* {
      color: #0083FD !important;
}